@use "./base.scss";

// put your custom CSS here!

#explorer-content ul li > a[data-hasicon="true"]:has(.file-title-icon),
#explorer-content ul div > a[data-hasicon="true"]:has(.folder-title-icon) {
    display: flex;

    .file-title-icon,
    .folder-title-icon
    {
        margin: auto 0.4rem auto 0;

        svg
        {
            display: block;
        }
    }
}

.forced-row {
    display: flex;
    width: 100%;
    & .darkmode {
        margin: auto 0.25rem auto 0;
    }
}

.search {
    width: 100%;
}

.page-title {
    font-size: 5rem;
    text-align: center;
}

body:before {
    content: "";
    background-color: #00000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: .05;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:-1;
}

:root[saved-theme=light] > body:before{
    opacity: .25;
}

// mobile style tweak

@media (max-width: 800px) {
    .search {
        max-width: 100%;
        margin-right: 40px;
    }

   .explorer button#mobile-explorer {
        right: 0;
        position: absolute;
        top: 3.5rem;
    }

    .page>#quartz-body .sidebar.left {
        flex-direction: column;
        margin: 0 -1rem 0 -1rem;
        padding: 1rem;
        background: linear-gradient(var(--light) 60%, transparent) !important;
    }

    .page-title {
        font-size: 2rem;
    }
    
}

// print mode
// disable all elements but article
// force light mode - not the best way but it works
@media print{
    #quartz-body .sidebar.left,
    #quartz-body .sidebar.right,
    footer,
    .page-footer,
    #quartz-body > div.center > div.page-header > div > p,
    .breadcrumb-container,
    .page-listing
    {
        display: none !important;
    }

    
    :root 
    {
        --light: #f2f2f5 !important;
        --lightgray: #d9d9e0 !important;
        --gray: #a8a8b3 !important;
        --darkgray: #4e4e5e !important;
        --dark: #2b2b33 !important;
        --secondary: #5b3a75 !important;
        --tertiary: #9d84a5 !important;
        --highlight: #8f66a926 !important;
        --textHighlight: #fc68 !important;
    }
}
